{% extends 'base.html' %}

{% load static %}

{% block content %}
<br><br><br>
<div class="container_login_form">
   <br><br><br><br>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="alert alert-info text-center">
          <p>Checkout your Inbox , we have sent you a link to reset your password.</p>
          <a href="{% url 'login_user' %}" class="btn btn-dark">Return to login</a>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <br><br><br>
{% endblock content %}
