{% extends 'base.html' %}

{% load static %}

{% block content %}
<br><br><br><br><br><br>
<div class="container_login_form">
   <br><br><br><br>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="alert alert-success text-center">
          <p>Password Reset Compelete, you can log in your account.</p>
          <a href="{% url 'login_user' %}" class="btn btn-dark">Log in</a>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>
{% endblock content %}
