{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
  .container_login_form input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  .container_login_form button[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: rgb(8, 60, 94);
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  .container_login_form button[type="submit"]:hover {
      background-color: rgb(8, 60, 94);
  }
</style>

<div class="container_login_form">
   <br><br><br><br>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-secondary">Réinitialiser le mot de passe</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
