{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container_login_form">
   <br><br><br><br>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="alert alert-success text-center">
          <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
          <a href="{% url 'login_user' %}" class="btn btn-primary">Retour à la page de connexion</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
