{% extends 'base.html' %} {% block content %}
<!-- Header-->
<br /><br /><br /><br />
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Payment Failed</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Your payment was not completed. Please try again.
      </p>
    </div>
  </div>
</header>
<div class="row justify-content-center">
  <br /><br /><br /><br /><br />
  <div class="col-12 justify-content-center align-items-center">
    <br>
    <center>
      <h1>Payment Failed</h1>
      <p>Your payment was not completed. Please try again.</p>
    </center>
  </div>
</div>
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
{% endblock content %}
